{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	<section class='row center before-after'>
	 	<div class='row-inner'>
	 		<div class='col 12'>
	 		 	<div class='col-inner'>
	 		 		{{ ui.p('Drag the white bar to comapare the before/after images.', 'bottom') }}
					{% for item in page.get_field('image') %}
						<div class="item-wrapper">
							{{ ui.img(item.before)}}
							<div class="before" style="background-image:url('{{ TimberImage(item.before).src }}');"></div>
							<div class="after" style="background-image:url('{{ TimberImage(item.after).src }}');"></div>
						</div>
					{% else %}
						{{ ui.h3('There are no items right now.') }}
					{% endfor %}
	 		 	</div>
	 		</div>
	 	</div>
	</section>
{% endblock %}
