{% extends "pages/post-base.twig" %}

{% block post %}
	<section class='row intro s-top center no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner'>
	 		 		{{ ui.p(page.grow) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row logo '>
	 	<div class='row-inner'>
	 		<div class='col col-12' data-aos="fade-in">
	 		 	<div class='col-inner'>
	 		 		<video src="{{ page.logo_video }}" type="video/mp4s" playsinline autoplay muted loop/>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-bottom center no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner'>
	 		 		{{ ui.p(page.logo_ideation) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row concepts'>
	 	<div class='row-inner'>
	 		<div class='col col-12' data-aos="fade-up">
	 		 	<div class='col-inner'>
	 		 		{{ ui.img(page.concepts) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-bottom s-top center no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text' data-aos="fade-up">
	 		 	<div class='col-inner'>
	 		 		{{ ui.p(page.logo_ideation_copy) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12' data-aos="fade-up">
	 		 	<div class='col-inner'>
	 		 		{{ ui.img(page.collage) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-bottom s-top center no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text' data-aos="fade-up">
	 		 	<div class='col-inner'>
	 		 		{{ ui.p(page.collage_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row background' style="background-image:url('{{ TimberImage(page.hand_drawn).src }}');">
	 	<div class='row-inner'>
	 		
	 	</div>
	</section>

	<section class='row center responsive s-bottom s-top no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.the_direction) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row x-lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12' data-aos="fade-up">
	 		 	<div class='col-inner'>
	 		 		{{ ui.img(page.logo_variations) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center responsive s-bottom s-top no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.important) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row x-lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12' data-aos="fade-up">
	 		 	<div class='col-inner'>
	 		 		{{ ui.img(page.logo_font) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center responsive s-bottom s-top no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.construction) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row logo-development'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		{% for item in page.get_field('logo_development') %}
		 				<div class="img-wrapper" data-aos="image-up">
							<img src="{{ TimberImage(item.image).src }}" alt="{{ TimberImage(item.image).alt }}">
						</div>
		 			{% endfor %}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row s-top x-lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12' data-aos="fade-in">
	 		 	<div class='col-inner'>
	 		 		{{ ui.img(page.logo_spec) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	

	<section class='row center responsive s-bottom s-top no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.cool_blue) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	
	

	<section class='row color-typ'>
	 	<div class='row-inner'>
	 		<div class='col color col-6'>
	 		 	<div class='col-inner'>
	 		 		<h3 data-aos="fade-up">Hex #00A0DF<br>R 0, G 160, B 233<br>C 74, M 21, Y 0, K 0<br>Pantone 299 C</h3>
	 		 		<div class="img-wrapper second" data-aos="fade-in">
						<img src="{{ TimberImage(page.color).src }}" alt="{{ TimberImage(page.color).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 		<div class='col typography col-6'>
	 		 	<div class='col-inner'>
	 		 		<h3 data-aos="fade-up">Effra Bold</h3>
	 		 		<div class="img-wrapper second" data-aos="fade-in">
						<img src="{{ TimberImage(page.typography).src }}" alt="{{ TimberImage(page.typography).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center responsive s-bottom s-top no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.stationary) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row images-1 no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<div class="img-wrapper first" data-aos="image-up">
						<img src="{{ TimberImage(page.image_1).src }}" alt="{{ TimberImage(page.image_1).alt }}">
					</div>
					<div class="img-wrapper second" data-aos="image-up">
						<img src="{{ TimberImage(page.image_2).src }}" alt="{{ TimberImage(page.image_2).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row images-2 s-bottom'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.image_3, "third") }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>
{% endblock %}