{% extends "pages/post-base.twig" %}

{% block post %}
	<section class='row intro s-top center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' >
	 		 		{{ ui.p(page.brothers) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row background' style="background-image:url('{{ TimberImage(page.background).src }}');">
	 	<div class='row-inner'>
	 		
	 	</div>
	</section>

	<section class='row s-top center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.poster_info) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row images-1 no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		{# {{ ui.img(page.image_1, "first") }}
	 		 		{{ ui.img(page.image_2, "second") }} #}
	 		 		<div class="img-wrapper first" data-aos="image-up">
						<img src="{{ TimberImage(page.image_1).src }}" alt="{{ TimberImage(page.image_1).alt }}">
					</div>
					<div class="img-wrapper second" data-aos="image-up">
						<img src="{{ TimberImage(page.image_2).src }}" alt="{{ TimberImage(page.image_2).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row images-2 no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		{# {{ ui.img(page.image_3, "third") }}
	 		 		{{ ui.img(page.image_4, "fourth") }} #}
	 		 		<div class="img-wrapper third" data-aos="image-up">
						<img src="{{ TimberImage(page.image_3).src }}" alt="{{ TimberImage(page.image_3).alt }}">
					</div>
					<div class="img-wrapper fourth" data-aos="image-up">
						<img src="{{ TimberImage(page.image_4).src }}" alt="{{ TimberImage(page.image_4).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row images-3 no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		{# {{ ui.img(page.image_5, "fifth") }}
	 		 		{{ ui.img(page.image_6, "sixth") }} #}
	 		 		<div class="img-wrapper fifth" data-aos="image-up">
						<img src="{{ TimberImage(page.image_5).src }}" alt="{{ TimberImage(page.image_5).alt }}">
					</div>
					<div class="img-wrapper sixth" data-aos="image-up">
						<img src="{{ TimberImage(page.image_6).src }}" alt="{{ TimberImage(page.image_6).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row s-top blu-ray s-bottom'>
	 	<div class='row-inner'>
	 		<div class='col'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.blu_ray) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row packaging no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		{# {{ ui.img(page.packaging) }} #}
	 		 		<div class="img-wrapper" data-aos="image-up">
						<img src="{{ TimberImage(page.packaging).src }}" alt="{{ TimberImage(page.packaging).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-top center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.box_set) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row print s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		{# {{ ui.img(page.print) }} #}
	 		 		<div class="img-wrapper" data-aos="fade-in">
						<img src="{{ TimberImage(page.print).src }}" alt="{{ TimberImage(page.print).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>
{% endblock %}