{% extends "base.twig" %}
{% import 'partial/ui.twig' as ui %}

{% block content %}
	<section class='row design'>
	 	<div class='row-inner'>
	 		{% for item in cases %}
	 			<article  class="case-study {{ function('slug', item.title) }} ">
	 				<a href="{{ item.link }}">
	 					<div data-aos="fade-in" class="case-study-inner">
		 					<div class="bg"  style="background-image:url('{{ TimberImage(item.thumbnail).src }}');">
		 					</div>
		 					<div class="info" data-aos="fade-up">
		 						{{ ui.h3(item.title) }}
		 						{{ ui.p(item.purpose) }}
		 					</div>
		 				</div>
	 				</a>
	 			</article>
	 		{% else %}
	 			<h3>There are no posts at the moment.</h3>
	 		{% endfor %}
	 	</div>
	</section>
{% endblock %}
