{% extends "pages/post-base.twig" %}

{% block post %}
	<section class='row intro s-top center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text' data-aos="fade-up">
	 		 	<div class='col-inner'>
	 		 		{{ ui.p(page.journey) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row collage'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.img(page.collage) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row cards'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.card).src }}" alt="{{ TimberImage(page.card).alt }}">
					</div>
					<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.pamphlet).src }}" alt="{{ TimberImage(page.pamphlet).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row booklet-info s-top center s-bottom'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-in">
	 		 		{{ ui.p(page.booklet_info) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row images-1 no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.image_1).src }}" alt="{{ TimberImage(page.image_1).alt }}">
					</div>
					<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.image_2).src }}" alt="{{ TimberImage(page.image_2).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row images-2'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.image_3).src }}" alt="{{ TimberImage(page.image_3).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row images-3'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.image_4).src }}" alt="{{ TimberImage(page.image_4).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-top s-bottom grid center'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<h2 data-aos="fade-up">Grid design</h2>
	 		 		<div class="img-wrapper" data-aos="fade-in">
						<img src="{{ TimberImage(page.grid_design).src }}" alt="{{ TimberImage(page.grid_design).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>
{% endblock %}