{% extends "pages/post-base.twig" %}

{% block post %}
	<section class='row intro s-top center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text' >
	 		 	<div class='col-inner'>
	 		 		{{ ui.p(page.intro_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row website s-top s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col info fixed-scroll col-6'>
	 		 	<div class='col-inner'>
	 		 		{# {{ ui.p(page.description) }} #}
	 		 		<div class="text-wrapper" >
	 		 			<p data-aos="fade-in">{{ page.description }}</p>
	 		 		</div>
	 		 	</div>
	 		</div>

	 		<div class='col image col-6'>
	 		 	<div class='col-inner'>
	 		 		<div data-aos="image-up" class="img-wrapper box-shadow" >
						<img src="{{ TimberImage(page.website_page).src }}" alt="{{ TimberImage(page.website_page).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center responsive s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div data-aos="fade-up" class='col-inner'>
	 		 		{{ ui.p(page.pre_mobile) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row mobile s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<div class="image-wrapper">
	 		 			{% for item in page.get_field('mobile_shots') %}
	 		 				<div data-aos="image-up" class="image-item">
	 		 					{{ ui.img(item.image, "box-shadow") }}
	 		 				</div>
	 		 			{% endfor %}
	 		 		</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center responsive s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div data-aos="fade-up" class='col-inner'>
	 		 		{{ ui.p(page.responsive) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row background' style="background-image:url('{{ TimberImage(page.background).src }}');">
	 	<div class='row-inner'>
	 		
	 	</div>
	</section>

	<section class='row new center s-top s-bottom'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div data-aos="fade-up" class='col-inner'>
	 		 		{{ ui.p(page.new_content) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row responsive-columns'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
			 		<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.responsive_columns).src }}" alt="{{ TimberImage(page.responsive_columns).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row new typography-text center s-top s-bottom'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div data-aos="fade-up" class='col-inner'>
	 		 		{{ ui.p(page.typography_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>


	<section class='row typography-image'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
			 		<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.typography).src }}" alt="{{ TimberImage(page.typography).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>


	<section class='row new brainstorming center s-top s-bottom'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div data-aos="fade-up" class='col-inner'>
	 		 		{{ ui.p(page.brain_storming) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row flow-chart'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
			 		<div class="img-wrapper" data-aos="fade-up">
						<img src="{{ TimberImage(page.flow_chart).src }}" alt="{{ TimberImage(page.flow_chart).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>


	<section class='row new pre-wireframes center s-top s-bottom'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div data-aos="fade-up" class='col-inner'>
	 		 		{{ ui.p(page.pre_wireframes) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	


	<section class='row phase-one'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<h2 data-aos="fade-up">Phase 1</h2>
			 		<div class="img-wrapper" data-aos="fade-in">
						<img src="{{ TimberImage(page.phase_1).src }}" alt="{{ TimberImage(page.phase_1).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row phase-two'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<h2 data-aos="fade-up">Phase 2</h2>
			 		<div class="img-wrapper" data-aos="fade-in">
						<img src="{{ TimberImage(page.phase_2).src }}" alt="{{ TimberImage(page.phase_2).alt }}">
					</div>
	 		 	</div>
	 		</div>
	 	</div>
	</section>



	{% include 'partial/color.twig' %}

	<section class='row new center s-top'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div data-aos="fade-up" class='col-inner'>
	 		 		{{ ui.p(page.conclusion) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

{% endblock %}