{% extends "pages/post-base.twig" %}

{% block post %}
	<section class='row intro s-top center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner'>
	 		 		{{ ui.p(page.next_generation) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row center s-top s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.next_generation_copy) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row center s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col'>
	 		 	<div class='col-inner'>
	 		 		<video src="{{ page.video_1 }}" type="video/mp4s"  playsinline muted loop/>
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.video_1_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row center s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col'>
	 		 	<div class='col-inner'>
	 		 		<video src="{{ page.video_2 }}" type="video/mp4s" playsinline muted loop/>
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.video_2_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>	

	<section class='row s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.modes_image) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.research_methods) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.user_flow_image) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.user_flow_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.companies_image) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.sketches_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.sketches_image) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.wireframes_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.wireframes_image) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.style_guide_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row two-cols s-bottom lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-6'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.style_guide_colours) }}
	 		 	</div>
	 		</div>
	 		<div class='col col-6'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.style_guide_type) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row center s-bottom no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.icons_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row s-bottom x-lrg-gutters'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner' data-aos="image-up">
	 		 		{{ ui.img(page.icons_image) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>

	<section class='row background' style="background-image:url('{{ TimberImage(page.devices_image).src }}');">
	 	<div class='row-inner'>
	 		
	 	</div>
	</section>


	<section class='row center s-top no-gutters'>
	 	<div class='row-inner'>
	 		<div class='col text'>
	 		 	<div class='col-inner' data-aos="fade-up">
	 		 		{{ ui.p(page.conclusion_text) }}
	 		 	</div>
	 		</div>
	 	</div>
	</section>
{% endblock %}