<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
<head>
    <meta charset="{{ site.charset }}" />
    <link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.theme.link }}/dist/css/main.css" type="text/css" media="screen" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />


    <!-- COMMON TAGS -->
    {# <title>Dominic Gomes</title> #}
    <!-- Search Engine -->
    <meta name="description" content="Dominic is a multidisciplinary designer, art director and digital post production artist.">
    <meta name="image" content="{{ site.theme.link }}/screenshot.jpg">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Dominic Gomes">
    <meta itemprop="description" content="Dominic is a multidisciplinary designer, art director and digital post production artist.">
    <meta itemprop="image" content="{{ site.theme.link }}/screenshot.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Dominic Gomes">
    <meta name="twitter:description" content="Dominic is a multidisciplinary designer, art director and digital post production artist.">
    <meta name="twitter:image:src" content="{{ site.theme.link }}/screenshot.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Dominic Gomes">
    <meta name="og:description" content="Dominic is a multidisciplinary designer, art director and digital post production artist.">
    <meta name="og:image" content="{{ site.theme.link }}/screenshot.jpg">
    <meta name="og:url" content="{{ site.link }}">
    <meta name="og:site_name" content="Dominic Gomes">
    <meta name="og:type" content="website">

    {# favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/favicon-16x16.png">
    <link rel="manifest" href="{{ site.theme.link }}/site.webmanifest">
    <link rel="mask-icon" href="{{ site.theme.link }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    {{function('wp_head')}}