{% if menu %}
	<ul>
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}" data-hover-slide-up="{{ item.title }}">{{ item.title }}</a>
		</li>
	{% endfor %}
	</ul>
{% endif %}
