{% import 'partial/ui.twig' as ui %}

{% if page.end_outside_link %}
	<section class='row launch s-top s-bottom'>
	 	<div class='row-inner'>
	 		<div class='col col-12'>
	 		 	<div class='col-inner'>
	 		 		<a href="{{ page.end_launch_project.url }}">> LAUNCH WEBSITE</a>
	 		 	</div>
	 		</div>
	 	</div>
	</section>
{% endif %}

<section class='row s-top-half s-bottom end'>
 	<div class='row-inner'>
 		<div class='col col-12'>
 		 	<div class='lb-inner'>
 		 		<a href="{{ page.end_next_project.url }}" class="prev"><img src="{{site.url}}/wp-content/uploads/2018/09/arrows.svg" alt="Previous Arrow"><span>Previous</span></a>
 		 		<a href="{{ site.url }}" class="all">{{ ui.h2("> See more projects") }}</a>
 		 		<a href="{{ page.end_previous_project.url }}" class="next"><span>Next</span><img src="{{site.url}}/wp-content/uploads/2018/09/arrows.svg" alt="Next Arrow"></a>
 		 	</div>
 		</div>
 	</div>
</section>