{% import 'partial/ui.twig' as ui %}

<style>.page-title {background-image: url('{{ TimberImage(thumbnail).src }}');}@media (max-width: 1024px) {.page-title {background-image: url('{{ TimberImage(tablet).src }}');}}@media (max-width: 600px) {.page-title {background-image: url('{{ TimberImage(mobile).src }}');}}</style>
<section class='row page-title'>
 	<div class='row-inner'>
 		<div class='col'>
 		 	<div class='col-inner'>
 		 		{{ ui.p(role) }}
 		 		{{ ui.h1(title) }}
 		 	</div>
 		</div>
 	</div>
</section>